<nav class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
  <div class="sidebar-header">
    <button class="toggle-btn" (click)="toggleSidebar()" title="Colapsar/Expandir">
      <i class="bi" [ngClass]="isCollapsed ? 'bi-arrow-right-circle' : 'bi-arrow-left-circle'"></i>
    </button>
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/inicio" routerLinkActive="active" >
          <i class="bi bi-house-door"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/productos" routerLinkActive="active" >
          <i class="bi bi-box"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Productos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/ventas" routerLinkActive="active">
          <i class="bi bi-cart"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Ventas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/pedidos" routerLinkActive="active">
          <i class="bi bi-truck"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Pedidos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/clientes" routerLinkActive="active">
          <i class="bi bi-people"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/empleados" routerLinkActive="active">
          <i class="bi bi-person-badge"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Empleados</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active">
          <i class="bi bi-person-circle"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Usuarios</span>
        </a>
      </li>
      <!-- Botón de Cerrar Sesión -->
      <li class="nav-item mt-auto">
        <a class="nav-link logout-link" (click)="logout()" style="cursor: pointer;">
          <i class="bi bi-box-arrow-right"></i>
          <span class="link-text" [ngClass]="{'hidden': isCollapsed}">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</nav>